body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  font-family: sans-serif;
}

.pokemon-list {
  background-color: rgba(155, 223, 244, 0.678);
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.2);
  margin-top: 20px;
}

.pokemon-list li {
  list-style: none;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.2);
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}
